PUBLIC_RELEASES_URL="https://github.com/mullpay/wallet/releases"
PUBLIC_LATEST_WINDOW_BUILD_URL="https://github.com/mullpay/wallet/releases/download/nightly/mullpay_0.1.0_x64_en-US.msi"
PUBLIC_LATEST_LINUX_BUILD_URL="https://github.com/mullpay/wallet/releases/download/nightly/mullpay_0.1.0_amd64.AppImage"
PUBLIC_LATEST_ANDROID_BUILD_URL="https://github.com/mullpay/wallet/releases/download/nightly/app-universal-release.apk"